<%-include("header")-%>
    <section class="tracker">
     <h3>DAILY EARNINGS</h3>

     <form action="/" method="post">
    <label for="site">SITE NAME</label>
<input type="text" name="site_name"><br/>
 <label for="site">EARNINGS</label>
 <select name="currency_options" id="selection">
    <option value="satoshi">SATOSHI</option>
    <option value="BTC">BTC</option>
    <option value="Rupples">RUPPLES</option>
 </select><br/>
<button type="submit" class="submit_btn">+</button>
</form>

<p>YOUR EARNING DETAILS FOR TODAY</p>

    </section>
    
</body>
</html>
<!-- <%-include("footer")-%> -->