html {
  font-family: "helvetica neue";
}

* {
  margin: 0px;
  padding: 0px;
}
/* Navbar style for the whole container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.76);
  color: #fff;
  /* position: ; */
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
/* LOGO */
.logo {
  font-size: 35px;
}
svg {
  width: 200px;
  height: 60px;
}
/* Menu/navbar styling */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* spacing for the navbar */
.menu li {
  padding: 5px 14px;
  text-transform: uppercase;
}
ul li {
  list-style-type: none;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* tracker add */
.tracker {
  background-color: #3d3d3d;
  border-radius: 20px;
  padding: 60px;
  width: 50%;
  position: relative;
  left: 20%;
  text-align: center;
  color: #fff;
}
.submit_btn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  align-items: center;
  background: #ff0000;
  width: 50px;
}
/* selection area */

/* Lets go responsive bro*/
@media (max-width: 768px) {
  /*   what happens when dropdown is clicked */
  .menu {
    display: none;
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    height: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu li + li {
    /* margin-top: 12px; */
  }
  /*   the button to be clicked */
  .hamburger {
    display: block;
  }
  /*  displays the container when clicked  */
  input[type="checkbox"]:checked ~ .menu {
    display: block;
    background-color: black;
    margin-top: 20px;
    height: 100%;
  }

  .tracker {
    width: 80%;
  }
}
