/* root */
html {
  width: auto;
}
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #2222;
  box-shadow: inset 0px 2px grey;
}
::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 20px;
  height: 2%;
}

* {
  margin: 0px;
  padding: 0px;
}
/* Navbar style for the whole container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.76);
  color: #fff;
  /* position: ; */
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
/* LOGO */
.logo {
  font-size: 35px;
}
svg {
  width: 200px;
  height: 60px;
}
/* Menu/navbar styling */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* spacing for the navbar */
.menu li {
  padding: 5px 14px;
  text-transform: uppercase;
}
ul li {
  list-style-type: none;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* form */
.form_details {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="number"] {
  border: none;
  background: transparent;
  color: #fff;
  border-bottom-color: red;
  border-bottom: 1px solid #f1f1f1;
}
/* select option */
select {
  background-color: rgba(0, 0, 0, 0.76);
  color: #ddd;
}
select > option {
  background-color: rgba(0, 0, 0, 0.76);
}
select > option:focus {
  background-color: #ff0000;
}

/* tracker add */
.tracker {
  background-color: #3d3d3d;
  border-radius: 20px;
  padding: 60px;
  width: 50%;
  position: relative;
  left: 20%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.submit_btn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  align-items: center;
  background: #ff0000;
  width: 50px;
  position: relative;
  left: 40%;
  margin: 20px 0px;
  font-size: 20px;
}
/* selection area */
select {
  width: 100%;
  text-align: center;
}
/* earnings table */
.earning_show {
  height: 100vh;
  position: absolute;
  left: 25%;
  margin-top: 10%;
  max-width: 100%;
}
h4 {
  text-align: center;
}
#sites td,
#sites th {
  border: 1px solid #ddd;
  padding: 50px;
}
#sites th {
  background-color: red;
}

/* Lets go responsive bro*/
@media (max-width: 768px) {
  /*   what happens when dropdown is clicked */
  .menu {
    display: none;
    position: absolute;
    background-color: #3d3d3d;
    z-index: 1;
    right: 0;
    left: 0;
    text-align: center;
    padding: 50px 0;
    font-size: x-large;
    min-height: 300px;
  }
  .menu li:hover {
    display: inline-block;
    /* background-color: bisque; */
  }
  .menu li + li {
    /* margin-top: 12px; */
  }
  /*   the button to be clicked */
  .hamburger {
    display: block;
  }
  /*  displays the container when clicked  */
  input[type="checkbox"]:checked ~ .menu {
    display: block;
    background-color: black;
    margin-top: 20px;
    height: 100%;
  }

  .tracker {
    width: 80%;
    position: relative;
    left: 20px;
  }
  .earning_show {
    left: 10%;
  }
  #sites td,
  #sites th {
    border: 1px solid #ddd;
    padding: 20px;
  }
}
